<section>
  <header>
    <h2>Calculator</h2>
  </header>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number"
           name="amount"
           #amount
           class="form-control">
    <button (click)="calculate(amount)"
            class="btn btn-primary">Calculate</button>
  </div>
  <div class="btn-group"
       role="group"
       aria-label="Basic example">
    <button type="button"
            (click)="changeTipPercentage(.1)"
            [disabled]="tipPercentage === .1"
            class="btn btn-secondary">10%</button>
    <button type="button"
            (click)="changeTipPercentage(.15)"
            [disabled]="tipPercentage === .15"
            class="btn btn-secondary">15%</button>
    <button type="button"
            (click)="changeTipPercentage(.2)"
            [disabled]="tipPercentage === .2"
            class="btn btn-secondary"
            disabled>20%</button>
    <button type="button"
            (click)="changeTipPercentage(.25)"
            [disabled]="tipPercentage === .25"
            class="btn btn-secondary"
            class="btn btn-secondary">25%</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Bill Amount: <span>{{ totalToBePaid | currency }}</span>
    </li>
    <li class="list-group-item">Tip Percentage: <span>{{ tipPercentage | percent }}</span></li>
    <li class="list-group-item">Tip Amount <span>{{ tipAmount | currency }}</span></li>
    <li class="list-group-item">Total to Be Paid: <span>{{ totalToBePaid | currency }}</span></li>
  </ul>
</section>
